footer.footer
    .container.row.middle-lg.center-lg.center-sm.center-xs.center-md
        a.block.col-lg-4.col-md-4.col-sm-12.col-xs-12(href='http://edu.gov.by/')
            img(src=require('../../assets/images/footer1.png').default)
            .title Министерство Образования РБ
        a.block.col-lg-4.col-md-4.col-sm-12.col-xs-12(href='https://bsu.by/')
            img(src=require('../../assets/images/footer2.png').default)
            .title Белорусский государственный Университет
        a.block.col-lg-4.col-md-4.col-sm-12.col-xs-12(href='https://journals.bsu.by/index.php/physics/index')
            img.jBsu(src=require('../../assets/images/footer3.png').default)
            .title Журнал Белорусского государственного университета
        .block.col-lg-4.col-md-4.col-sm-12.col-xs-12
            img(src=require('../../assets/images/footer4.png').default)
            .title 220006, Минск ул. Бобруйская, 5, Физический Факультет
        .block.col-lg-4.col-md-4.col-sm-12.col-xs-12
            img(src=require('../../assets/images/footer5.png').default)
            .title Тел.: +375 17 209-52-67 Факс: 8 (017) 209-54-45
        .block.col-lg-4.col-md-4.col-sm-12.col-xs-12
            img(src=require('../../assets/images/footer6.png').default)
            .title physdean@bsu.by
        .footer_icon
            a(href='https://vk.com/bsuphys')
                svg.icon.icon_size
                    use(href='#vk')
            a(href='https://www.instagram.com/bsuphys/')
                svg.icon.icon_size
                    use(href='#inst')
            a(href='https://www.youtube.com/channel/UCnJcLDPa8bpm8Ie_RQENicA').youtube
                svg.icon
                    use(href='#youtube')